@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Rubik&display=swap);

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #f9faff;
  font-family: "Open Sans", sans-serif;
  color: #001048;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
input,
button {
  outline: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
input {
  min-width: 0;
}
ul {
  list-style-type: none;
}
img {
  display: block;
}

.container {
  max-width: 1450px;
  padding: 0 15px;
  margin: 0 auto;
}
.container--narrow {
  padding: 0 240px;
}
.basic-title {
  font-size: 36px;
  line-height: 49px;
  font-weight: 600;
  color: #fe6c03;
}
.basic-title--green {
  color: #50b32e;
}
.basic-title--red {
  color: #ff3636;
}
.form {
  display: grid;
  grid-gap: 26px;
  margin: 30px 0 0;
}
.form__field {
  display: grid;
  grid-template-rows: auto;
  grid-auto-rows: 40px;
  grid-gap: 5px;
  font-size: 16px;
  line-height: 22px;
}
.form__field-label {
  font-size: 14px;
  line-height: 19px;
}
.form__field-input {
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  padding: 0 0 0 10px;
}
.form__field-input::placeholder {
  color: #a3a3a3;
}
.form__field-input:focus {
  border: 2px solid #1c74ff;
}
.form__submit-button {
  margin: 14px 0 0;
}
.button {
  height: 50px;
  border-radius: 100px;
  background-color: #1c74ff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  width: 100%;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
}
.button:focus,
.button:hover {
  background-color: #3181ff;
}
.button:active {
  background-color: #1864dd;
}
.button--disabled {
  background-color: #ececec;
  color: #a3a3a3;
  box-shadow: none;
  cursor: inherit;
}
.button--disabled:active,
.button--disabled:focus,
.button--disabled:hover {
  background-color: #ececec;
}
.stages-notify {
  display: grid;
  grid-gap: 30px;
  height: fit-content;
}
.stages-notify__subtitle {
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
}
.stages-notify__description {
  display: grid;
  grid-gap: 25px;
  max-width: 820px;
  font-size: 18px;
  line-height: 25px;
}
.stages-notify__description-link {
  color: #2389ee;
}
.stages-notify__description-link:hover {
  text-decoration-line: underline;
}
.policy-article {
  display: grid;
  grid-gap: 30px;
  font-size: 16px;
  line-height: 22px;
}
.policy-article__section {
  display: grid;
  grid-gap: 20px;
  border-bottom: 1px solid #c4c4c4;
  white-space: pre-line;
  padding: 0 0 20px;
}
.policy-article__section:last-of-type {
  border-bottom: 0;
  padding: 0;
}
.policy-article__section-title {
  font-size: 22px;
  line-height: 30px;
}
.policy-article__paragraphs {
  display: grid;
  grid-gap: 20px;
}
.policy-article__list {
  display: grid;
  grid-gap: 22px;
}
.policy-article__list--compressed {
  grid-gap: 0;
}
.policy-article__list-item {
  position: relative;
  padding: 0 0 0 20px;
}
.policy-article__list-item:before {
  content: "";
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  background-color: #50b32e;
  border-radius: 50%;
  top: 7px;
  left: 0;
}
.policy-article__link {
  color: #50b32e;
}
.policy-article__link:hover {
  text-decoration-line: underline;
}
.intro-text {
  font-size: 12px;
  line-height: 16px;
}
.header {
  padding: 30px 0;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  width: fit-content;
  font-family: Rubik, sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}
.logo__text {
  margin: 0 0 0 10px;
}
.header__phone {
  display: flex;
  align-items: center;
  color: #303030;
  fill: #303030;
  margin: 0 0 0 auto;
}
.header__phone-icon {
  margin: 0 15px 0 0;
}
.header__phone-text {
  display: flex;
  flex-direction: column;
}
.header__phone-number {
  font-size: 20px;
  line-height: 27px;
  color: #303030;
}
.header__phone-time {
  font-size: 14px;
  line-height: 19px;
  color: #a3a3a3;
}
.footer {
  padding: 65px 0 55px;
  background-color: #ececec;
}
.footer__desc {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: max-content;
  grid-gap: 18px 20px;
  font-size: 12px;
  line-height: 16px;
}
.footer__desc-block {
  display: grid;
  height: fit-content;
  grid-gap: 14px 0;
}
.footer__desc-block--large {
  grid-row: span 2;
}
.footer__desc-block-title {
  font-weight: 600;
}
.footer__desc-block-paragraphs {
  display: grid;
  grid-gap: 16px;
}
.footer__navlink {
  grid-column-start: 2;
  width: fit-content;
  text-decoration-line: underline;
}
.footer__navlink:hover {
  text-decoration-line: none;
}
.v-product-card {
  max-width: 340px;
  height: fit-content;
  background-color: #ececec;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  line-height: 22px;
  padding: 40px 30px 35px;
}
.v-product-card__document-image {
  filter: blur(2px), drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
  margin: 0 auto;
}
.v-product-card__info {
  display: grid;
  grid-gap: 18px;
  margin: 30px 0 0;
}
.v-product-card__section {
  display: grid;
  grid-gap: 8px;
}
.v-product-card__section-title {
  font-weight: 600;
}
.v-product-card__characteristics {
  display: grid;
  grid-gap: inherit;
}
.stages-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 700px;
  border-color: #a3a3a3;
  margin: 0 auto;
  padding: 0 0 35px;
}
@media (max-width: 805px) {
  .stages-bar {
    padding: 0 35px 35px 35px;
  }
}
@media (max-width: 425px) {
  .stages-bar__stage-name {
    font-size: 14px;
  }
}
.v-product-card img {
  max-width: 190px;
  width: 100%;
}
@media (max-width: 768px) {
  .v-product-card {
    margin: 0 auto;
  }
}
.stages-bar__stage {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #a3a3a3;
}
.stages-bar__stage--active {
  color: #00a3b3;
  font-weight: 600;
}
.stages-bar__stage--complete {
  color: #00a3b3;
}
.stages-bar__stage-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 2px solid #a3a3a3;
  border-radius: 50%;
  font-size: 22px;
  line-height: 30px;
}
.stages-bar__stage-circle--complete {
  background-color: #00a3b3;
  border: none;
}
.stages-bar__stage-circle--validate {
  display: none;
}
.stages-bar__stage-circle--novalidate {
  background-color: #00a3b3;
  color: #fff;
}
.stages-bar__stage-circle--active {
  border: 4px solid #00a3b3;
  font-weight: 700;
}
.stages-bar__stage-name {
  position: absolute;
  white-space: nowrap;
  font-size: 18px;
  line-height: 25px;
  top: 60px;
}
.stages-bar__stage-name--active {
  color: #00a3b3;
}
.stages-bar__line {
  width: 260px;
  border-top: 2px dashed #a3a3a3;
  margin: 0 10px;
}
.stages-bar__line--active {
  border-color: #00a3b3;
}
.advantage {
  background-color: #fff;
  border-radius: 10px;
  opacity: 0.7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 19px;
  padding: 20px;
}
.advantage__top {
  display: flex;
  align-items: center;
}
.advantage__title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  margin: 0 0 0 10px;
}
.advantage__desc {
  margin: 15px 0 0;
}
.find-guide {
  padding: 55px 0 5px;
}
.find-guide__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.find-guide__abstract {
  position: relative;
  width: 591px;
  height: 630px;
  margin: 0 0 0 110px;
}
.find-guide__abstract-ring {
  position: absolute;
  width: 521px;
  height: 521px;
  border: 2px solid #55bec9;
  border-radius: 50%;
  top: 44px;
  left: 29px;
}
.find-guide__abstract-gradient-circle {
  position: absolute;
  width: 406px;
  height: 406px;
  background: linear-gradient(90deg, #b2a2df 0, rgba(178, 162, 223, 0) 100%);
  border-radius: 50%;
  top: 150px;
  right: 0;
}
.find-guide__abstract-smallest-circle {
  position: absolute;
  width: 21px;
  height: 21px;
  background: linear-gradient(180deg, #d39c9b 0, #ffccc9 100%);
  border-radius: 50%;
  top: 489px;
  left: 108px;
}
.find-guide__abstract-first-client {
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  width: 261px;
  height: 261px;
  border: 15px solid #fff;
  bottom: 0;
  right: 76px;
}
.find-guide__abstract-second-client {
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  width: 355px;
  height: 355px;
  border: 15px solid #fff;
}
.find-guide__abstract-third-client {
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  width: 159px;
  height: 159px;
  border: 10px solid #fff;
  top: 140px;
  right: 0;
}
.find-guide__abstract-client-photo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.find-guide__basic {
  max-width: 460px;
  margin: 0 120px 0 0;
}
.find-guide__form-description {
  font-size: 18px;
  line-height: 25px;
  margin: 10px 0 0;
}
.find-guide__submit-button {
  height: 40px !important;
}
.advantages {
  padding: 70px 0;
}
.advantages__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.form__field {
  position: relative;
}
.input-error-none {
  display: none;
}
.input-error {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -22px;
}
.input-error-text {
  font-size: 14px;
  margin-left: 4px;
  color: #ff3636;
}
.error-border {
  border: 1px solid #ff3636 !important;
}
.success-input {
  position: absolute;
  right: 10px;
  top: 34px;
}
.offer {
  padding: 0 0 70px;
  /* background-image: url(../images/Offer-background.png); */
  background-repeat: no-repeat;
  background-position: 1070px 160px;
}
.notice-request {
  padding: 75px 0 0;
}
.notice-request__basic {
  display: flex;
  justify-content: space-between;
  margin: 60px 0 0;
}
.notice-request__tarifs {
  display: flex;
  max-width: 940px;
  background-color: #fff;
  border-radius: 10px;
  padding: 45px 0;
  margin-right: 20px;
}
.notice-request__intro-text {
  max-width: 940px;
  margin: 55px 0 0;
}
.v-tarif {
  max-width: 470px;
  width: 100%;
  color: #a3a3a3;
  padding: 5px 30px 15px;
}
.v-tarif:first-child {
  border-right: 1px solid #c4c4c4;
}
.v-tarif--active {
  color: inherit;
}
.v-tarif__name {
  font-size: 36px;
  line-height: 49px;
}
.v-tarif__info-list {
  display: grid;
  grid-gap: 15px;
  grid-auto-rows: max-content;
  min-height: 145px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  margin: 20px 0 25px;
}
.v-tarif__info-item {
  display: flex;
  align-items: center;
  width: fit-content;
  fill: #a3a3a3;
}
.v-tarif__info-item--active {
  background-color: #c6ff1c;
  fill: #fe6c03;
}
.v-tarif__info-item-arrow {
  margin: 0 13px 0 0;
}
.v-tarif__price {
  position: relative;
  font-size: 65px;
  line-height: 114px;
  font-weight: 700;
}
.v-tarif__price:after {
  content: "€";
  position: absolute;
  font-size: 36px;
  line-height: 49px;
  left: 100%;
  top: 18px;
}
.v-tarif__price--active {
  font-size: 65px;
}
.v-tarif__price--active:after {
  top: 23px;
}
.v-tarif__price-time {
  font-size: 28px;
  line-height: 49px;
  font-weight: 300;
  margin: 0 0 0 20px;
}
@media (max-width: 552px) {
  .v-tarif {
    padding: 5px 7px;
  }
  .v-tarif__name {
    font-size: 24px;
  }
  .v-tarif__info-item span {
    font-size: 16px;
  }
  .v-tarif__price {
    font-size: 27px;
  }
  .v-tarif__price::after {
    font-size: 23px;
    left: 86%;
    top: -6px;
    padding-left: 5px;
  }
  .v-tarif__price--active:after {
    top: -7px;
    padding-left: 3px;
  }
  .v-tarif__price-time {
    font-size: 18px;
    margin: 0 0 0 8px;
  }
  .stages-bar__stage-name {
    white-space: break-spaces;
  }
  .congratulation__content {
    flex-flow: wrap;
  }
}
.stages-notify {
  margin-right: 15px;
}
@media (max-width: 768px) and (min-width: 551px) {
  .congratulation__content {
    display: block;
  }
  .stages-notify {
    margin: 0 0 40px 0;
  }
  .v-tarif__price {
    font-size: 60px;
  }
}
.v-tarif__button {
  width: 100%;
  margin: 45px 0 0;
}
.checkout {
  padding: 0 0 60px;
  /* background-image: url(../images/Offer-background.png); */
  background-repeat: no-repeat;
  background-position: 1070px 160px;
}
.payment {
  padding: 75px 0 0;
}
.payment__content {
  display: flex;
  justify-content: space-between;
}
.payment__content-basic {
  margin-right: 20px;
}
.payment__content-basic-top {
  display: flex;
}
.payment__systems {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
  align-items: center;
  margin: 8px 0 0 40px;
}
.payment__price {
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  margin: 30px 0 0;
}
.payment__price-number {
  color: #fe6c03;
}
.payment__form {
  max-width: 340px;
}
.payment__form-field-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 20px;
}
.payment__descriptions {
  display: grid;
  grid-gap: 13px;
  max-width: 940px;
  margin: 55px 0 0;
}
.payment__cvv-input {
  /* background-image: url(../images/СVV-input-icon.svg); */
  background-repeat: no-repeat;
  background-position: 90% center;
}
.approved {
  /* background-image: url(../images/Approved-background.png); */
  background-repeat: no-repeat;
  background-position: 1070px 160px;
  padding: 0 0 60px;
}
.congratulation {
  padding: 75px 0 0;
}
.congratulation__content {
  display: flex;
  justify-content: space-between;
}
.congratulation__description {
  display: grid;
  grid-gap: 25px;
  max-width: 820px;
  font-size: 18px;
  line-height: 25px;
  margin: 30px 0 0;
}
.denied {
  /* background-image: url(../images/Denied-background.png); */
  background-repeat: no-repeat;
  background-position: 1070px 160px;
  padding: 0 0 140px;
}
.denied-notification {
  padding: 75px 0 0;
}
.denied-notification__content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 425px) {
  .header .logo__text {
    font-size: 14px;
  }
  .header__phone svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  .header__phone-text a {
    font-size: 14px;
    margin-bottom: -7px;
  }
  .header__phone-text span {
    font-size: 12px;
  }
}
@media (max-width: 1024px) {
  .container--narrow {
    padding: 0 15px;
  }
}
@media (max-width: 934px) {
  .payment__content {
    display: block;
  }
  .payment__content-basic {
    margin: 0 0 40px 0;
  }
}
@media (max-width: 636px) {
  .payment__content-basic-top {
    display: block;
  }
  .payment__systems {
    display: flex;
    margin: 15px 0 0;
  }
  .payment__form {
    max-width: 100%;
  }
}
@media (max-width: 1024px) {
  .container--narrow {
    padding: 0 15px;
  }
}
.stages-notify {
  margin-right: 20px;
}
@media (max-width: 768px) {
  .denied-notification__content {
    display: block;
  }
  .stages-notify {
    margin: 0 0 40px 0;
  }
}
@media (max-width: 1100px) {
  .find-guide__abstract {
    transform: scale(0.7);
    margin: 0;
  }
  .find-guide__basic {
    margin: 0;
  }
}
@media (max-width: 900px) {
  .advantages__container {
    grid-template-columns: none;
  }
}
@media (max-width: 768px) {
  .find-guide__abstract {
    display: none;
  }
  .find-guide__basic {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .notice-request__basic {
    flex-wrap: wrap;
  }
  .notice-request__tarifs {
    margin: 0 0 40px 0;
  }
}
@media (max-width: 1024px) {
  .container--narrow {
    padding: 0 15px;
  }
}
.terms {
  text-align: center;
  font-size: 11px;
  margin-top: 26px;
}

.form-block .input-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.form-block .form-title {
  font-size: 1.5rem;
  width: 100%;
  font-weight: 600;
  padding-bottom: 20px;
  text-align: center;
}
@media (max-width: 1200px) {
  .form-block .form-title {
    font-size: -webkit-calc(1.275rem + 0.3vw);
    font-size: calc(1.275rem + 0.3vw);
  }
}

.form-block p {
  margin: 0;
}
.form-block__half {
  width: 49%;
  position: relative;
  margin-bottom: 10px;
}
@media (max-width: 580px) {
  .form-block__half {
    width: 100%;
  }
}
.form-block__half > .w100 {
  width: 100%;
}
.form-block__half input {
  width: 100%;
}
.form-block__full {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.form-block__full > .w100 {
  width: 100%;
}
.form-block__full > .form-block__full,
.form-block__full > .form-block__half {
  margin-bottom: 0;
}
@media (max-width: 480px) {
  .form-block__full {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.form-block__third {
  margin-bottom: 10px;
}
.form-block .error {
  border: 1px solid red !important;
  background: #d96363;
  -webkit-box-shadow: 0 0 5px red;
  box-shadow: 0 0 5px red;
  font-weight: 700;
  color: #fff !important;
}
.form-block .error::-webkit-input-placeholder {
  color: #fff;
}
.form-block .error::-moz-placeholder {
  color: #fff;
}
.form-block .error:-ms-input-placeholder {
  color: #fff;
}
.form-block .error:-moz-placeholder {
  color: #fff;
}
.form-block.error {
  color: red !important;
}
.form-block.error input,
.form-block.error select {
  border: 1px solid red;
  background: #d96363;
  -webkit-box-shadow: 0 0 5px red;
  box-shadow: 0 0 5px red;
  font-weight: 700;
  color: #fff;
}
.form-block.error input::-webkit-input-placeholder,
.form-block.error select::-webkit-input-placeholder {
  color: #fff;
}
.form-block.error input::-moz-placeholder,
.form-block.error select::-moz-placeholder {
  color: #fff;
}
.form-block.error input:-ms-input-placeholder,
.form-block.error select:-ms-input-placeholder {
  color: #fff;
}
.form-block.error input:-moz-placeholder,
.form-block.error select:-moz-placeholder {
  color: #fff;
}
.form-block input,
.form-block select,
.form-block textarea {
  padding: 10px;
  background: #fafafa;
  text-transform: capitalize;
  color: #000;
}
.form-block input[id*="phone"] {
  padding-left: 55px;
}
.form-block input[name*="email"] {
  text-transform: lowercase;
}
.form-block input[type*="checkbox"],
.form-block input[type*="radio"] {
  width: unset;
}
.form-block input,
.form-block select {
  border: 1px solid #e6e8e9;
  border-radius: 4px;
}
.help,
.help-green {
  max-height: 50px;
  margin-left: 15px;
}
.tooltip.in {
  opacity: 1;
}
.mla {
  margin-left: auto;
}
.form-block > i,
.form-block__full > i,
.form-block__half > i {
  position: absolute;
  z-index: 20;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  color: #56da29;
  opacity: 0;
}
.form-block__full > i,
.form-block__half > i {
  right: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.form-block.child-valid > i,
.form-block__full.child-valid > i,
.form-block__half.child-valid > i {
  opacity: 1;
}
.form-block.child-valid input,
.form-block.child-valid select,
.form-block__full.child-valid > input,
.form-block__half.child-valid > input {
  border-color: #56da29;
}
.form-block > i {
  top: 1px;
}
#form-paiement > .form-block:nth-of-type(3) i,
#form-paiement > .form-block:nth-of-type(4) i {
  left: 140px;
}
#form-paiement > .form-block:nth-of-type(5) i {
  left: 45px;
}
.input-wrapper .form-block__full,
.input-wrapper .form-block__half {
  position: relative;
}
.input-wrapper .form-block__full .placeholder,
.input-wrapper .form-block__half .placeholder {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 9px;
  padding: 0 3px;
  color: #777;
  background-color: #fafafa;
  border-radius: 3px;
  text-transform: capitalize;
  pointer-events: none;
}
.input-wrapper .form-block__full .placeholder.transition,
.input-wrapper .form-block__half .placeholder.transition {
  -webkit-transition: top 0.3s ease, left 0.3s ease, font-size 0.3s ease,
    opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: top 0.3s ease, left 0.3s ease, font-size 0.3s ease,
    opacity 0.3s ease, -webkit-transform 0.3s ease;
  -o-transition: top 0.3s ease, left 0.3s ease, transform 0.3s ease,
    font-size 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, left 0.3s ease, transform 0.3s ease,
    font-size 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, left 0.3s ease, transform 0.3s ease,
    font-size 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
}
.input-wrapper .form-block__full .placeholder.phone,
.input-wrapper .form-block__half .placeholder.phone {
  left: 56px;
}
.input-wrapper .form-block__full .placeholder.phone.hide,
.input-wrapper .form-block__half .placeholder.phone.hide {
  opacity: 0;
}
.input-wrapper
  .form-block__full.focused
  .placeholder:not(.numberCard):not(.expirynew):not(.cvcnew),
.input-wrapper
  .form-block__half.focused
  .placeholder:not(.numberCard):not(.expirynew):not(.cvcnew) {
  top: -8px;
  left: 9px;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  font-size: 12px;
}
.input-wrapper .form-block__full.focused .placeholder.cvcnew,
.input-wrapper .form-block__full.focused .placeholder.expirynew,
.input-wrapper .form-block__full.focused .placeholder.numberCard,
.input-wrapper .form-block__half.focused .placeholder.cvcnew,
.input-wrapper .form-block__half.focused .placeholder.expirynew,
.input-wrapper .form-block__half.focused .placeholder.numberCard {
  opacity: 0;
}
.input-wrapper .form-block__full.child-invalid .placeholder,
.input-wrapper .form-block__half.child-invalid .placeholder {
  background-color: #d96363;
  color: #fff;
}
.form-block__full,
.form-block__half {
  position: relative;
}
.form-block__full .email-hint,
.form-block__half .email-hint {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 210px;
  background-color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  z-index: 99;
  -webkit-transition: opacity 0.2s ease, visibility 0.2s ease;
  -o-transition: opacity 0.2s ease, visibility 0.2s ease;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}
.form-block__full .email-hint li,
.form-block__half .email-hint li {
  color: #000;
  cursor: pointer;
  padding: 10px 12px;
}
.form-block__full .email-hint li:hover,
.form-block__half .email-hint li:hover {
  background-color: #eee;
}
.form-block__full .email-hint li:first-of-type,
.form-block__half .email-hint li:first-of-type {
  margin-top: 8px;
}
.form-block__full .email-hint li:last-of-type,
.form-block__half .email-hint li:last-of-type {
  margin-bottom: 8px;
}
.form-block__full.show-hint .email-hint,
.form-block__half.show-hint .email-hint {
  opacity: 1;
  visibility: visible;
}

#phone.error ~ .plus_number_code {
  color: #d8000c;
}
.plus_number_code {
  color: #333;
  left: 44px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.flag {
  height: 11px;
  left: 22px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 16px;
  background-size: contain;
  background-position: center center;
}

.invalidField {
  color: red;
  margin-top: -5px;
  display: none;
  margin: 10px 0;
  font-size: 0.7rem;
}
.basic-form {
  margin: 30px 0 0;
}
.basic-form .input-wrapper .form-block__full {
  margin: 10px 0;
}
.scrollToTopBtn {
  background-color: #79b928;
  outline: 0;
  border: none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 48px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease;
}
.showBtn {
  opacity: 1;
  transform: translateY(0);
}
